{% for job in job_list %}
<tr>
    <th class="upper" width="500">{{ job.name }}</th>
    <th  class="text-center upper" width="30">
        <button class="btn btn-warning js-open-job-form-update"
                data-url="{% url 'core:job_update' job.id %}">
            <i class="glyphicon glyphicon-pencil"></i>
        </button>
    </th>

    <th  class="text-center upper" width="30">
        <button class="btn btn-danger js-open-job-form-delete"
                data-url="{% url 'core:job_delete' job.id %}">
            <i class="glyphicon glyphicon-trash"></i>
        </button>
    </th>
</tr>
{% endfor %}