{% include 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container">

    {% include 'core/messages.html' %}
<form action="{% url 'company:job_candidate' form.instance.id request.user.id %}"
      class="" method="post">


    {% csrf_token %}
    <h4 class="page-header text-info">Vaga Info</h4>
    </button>


    {% include 'company/job/job_form.html' %}



    {% if user.is_authenticated %}
    {% if user.profile.kind == user.profile.EMPLOYEE %}
    <button type="submit" class="btn btn-block btn-primary">
        Deseja se Candidatar
    </button>
    {% endif %}
    {% endif %}
</form>
{% endblock %}
</div>
