{% for job in job_list %}
<tr>
    <th class="upper" width="500">

        <a href="{% url 'company:job_detail_list' job.id request.user.id %}">
            {{ job.name }}
        </a>
    </th>
    <th class="upper">
        {{ job.company }}
    </th>

    {% if user.is_authenticated and user.profile.kind == user.profile.COMPANY %}
    <th  class="text-center upper" width="30">
        <button class="btn btn-warning js-open-job-form-update"
                data-url="{% url 'company:job_update' job.id %}">
            <i class="glyphicon glyphicon-pencil"></i>
        </button>
    </th>

    <th  class="text-center upper" width="30">
        <button class="btn btn-danger js-open-job-form-delete"
                data-url="{% url 'company:job_delete' job.id %}">
            <i class="glyphicon glyphicon-trash"></i>
        </button>
    </th>
    {% endif %}
</tr>
<tr>
    {% empty %}
    <th colspan="3" class="bg-warning text-center">Nenhum resutado encontrado </th>
</tr>
{% endfor %}