{% load core_tags %}
{% for job in job_list %}
<tr>

    <th class="upper" width="400">
            {{ job.users.all }}
    </th>

    <th class="upper" width="250">
            {{ job.company }}
    </th>

    <th class="upper" width="400">
            {{ job.name }}
    </th>

    <th  class="text-center upper" width="30">
        <button class="btn btn-info js-open-job-form-detail" title="Detalhes da Vaga"
                data-url="{% url 'company:job_detail' job.id %}">
            <i class="glyphicon glyphicon-sunglasses"></i>
        </button>
    </th>

    <th  class="text-center upper" width="30">
        <button class="btn btn-danger js-open-job-form"
                data-url="{% url 'company:job_delete' job.id %}"
                title="Descadastrar nessa vaga?" type="submit">
            <i class="glyphicon glyphicon-thumbs-down"></i>
        </button>
    </th>

</tr>
<tr>
    {% empty %}
    <th colspan="" class="bg-warning text-center">Nenhum resutado encontrado </th>
</tr>
{% endfor %}