{% extends 'core/base.html' %}
{% block  title %} FINDJOB Empresas {% endblock %}

{% block content %}

<div class="messages">
    {% include 'core/messages.html' %}
</div>

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <form action="">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" type="text" name="search" />
                    <div class="input-group-btn">
                        <button class="btn btn-primary ">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row" style="margin-top:2em;">

    <div class="">
        <table id=job-table" class="table table-striped table-hover table-condensed job-table">
            <thead>
            <tr>
                <th width="250">Vagas </th>
                <th width="250">Empresa </th>
                <!--<th width="300">Empresa</th>-->

                {% if user.is_authenticated and user.profile.kind == user.profile.COMPANY %}
                <th width="30">EDITAR</th>
                <th width="30">DELETAR</th>
                {% endif %}

            </tr>
            </thead>
            <tbody>
            {% include 'company/job/job_table.html' %}
            </tbody>

        </table>


        <div class="text-center">

            {% if job_list.has_other_pages %}
            <ul class="pagination">
                {% if job_list.has_previous %}
                <li><a href="?page={{ job_list.previous_page_number }}">&laquo;</a></li>
                {% else %}
                <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in job_list.paginator.page_range %}
                {% if job_list.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if job_list.has_next %}
                <li><a href="?page={{ job_list.next_page_number }}">&raquo;</a></li>
                {% else %}
                <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>

    <div id="company-modal"   class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">



            </div><!-- content -->
        </div>
    </div>

    <div id="job-modal"   class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">



            </div><!-- content -->
        </div>
    </div>

    <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
            crossorigin="anonymous">
    </script>
    {% endblock %}

