{% for job in job_list %}
<tr>

    <th class="upper" width="250">
        <a href="{% url 'company:job_detail_list' job.id request.user.id %}">
            {{ job.company }}
        </a>
    </th>

    <th class="upper" width="400">
        <a href="{% url 'company:job_detail_list' job.id request.user.id %}">
            {{ job.name }}
        </a>
    </th>

    {% if user.is_authenticated and user.profile.kind == user.profile.EMPLOYEE %}
    <th  class="text-center upper" width="30">
        <button class="btn btn-info js-open-job-form-detail" title="Detalhes da Vaga"
                data-url="{% url 'company:job_detail' job.id %}">
            <i class="glyphicon glyphicon-sunglasses"></i>
        </button>
    </th>

    <th  class="text-center upper" width="30">
        <button class="btn btn-success js-open-job-form-se-cadastrar" title="Deseja Se Candidatar a Vaga ?"
                data-url="{% url 'company:job_delete' job.id %}">
            <i class="glyphicon glyphicon-thumbs-up"></i>
        </button>
    </th>
    {% endif %}
</tr>
<tr>
    {% empty %}
    <th colspan="4" class="bg-warning text-center">Nenhum resutado encontrado </th>
</tr>
{% endfor %}