{% for company in company_list %}
<tr>
    <th class="upper" width="500">
        <a href="#">
        {{ company  }}
        </a>
    </th>

    <th  class="text-center upper" width="30">
        <a role="button" class="btn btn-primary "
                href="{% url 'company:job_list_company' company.id %}">
            <i class="glyphicon glyphicon-plus"></i>
        </a>
    </th> <th  class="text-center upper" width="30">
        <a role="button" class="btn btn-info"
                href="{% url 'core:address' company.id %}">
            <i class="glyphicon glyphicon-map-marker"></i>
        </a>
    </th>

    <th  class="text-center upper" width="30">
        <button class="btn btn-warning js-open-company-form-update"
                data-url="{% url 'company:company_update' company.id %}">
            <i class="glyphicon glyphicon-pencil"></i>
        </button>
    </th>

    <th  class="text-center upper" width="30">
        <button class="btn btn-danger js-open-company-form-delete"
                data-url="{% url 'company:company_delete' company.id %}">
            <i class="glyphicon glyphicon-trash"></i>
        </button>
    </th>


</tr>
{% endfor %}