{% load widget_tweaks %}

<div class="row">


    <div class="col-md-8">
        <div class="form-group {% if form.company.errors %} has-error {% endif %}" >
            <label for="company_id">Empresa</label>
          {% render_field form.company class="form-control upper disable" %}
            {% for error in form.company.errors %}
            <span class="help-block ">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <!-- cep -->
    <div class="col-md-4 ">
        <label for="form.cep.id_for_label ">{{ form.cep.label  }}</label>
        <div class="input-group " >
            {% render_field form.cep class="form-control input_cep" %}

            <span class="input-group-btn">
                <button type="button" class="btn btn-primary search_cep">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div> <!-- form group -->
        {% for error in form.cep.errors %}
        <span class="help-block ">{{ error }}</span>
        {% endfor %}
    </div>
</div>

<!-- logradouro-->
<div class="row">

    <!-- rua -->
    <div class="col-md-10">

        <div class="form-group {% if form.endereco.errors %} has-error {% endif %}" >
            <label for="form.endereco.id_for_label ">{{ form.endereco.label  }}</label>
            {% render_field form.endereco  class='form-control' %}
            {% for error in form.endereco.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <!-- numero -->
    <div class="col-md-2">

        <div class="form-group {% if form.numero.errors %} has-error {% endif %}" >
            <label for="form.numero.id_for_label ">{{ form.numero.label  }}</label>
            {% render_field form.numero  class='form-control' %}
            {% for error in form.numero.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

</div>

<div class="row ">
    <div class="col-md-8">
        <div class="form-group {% if form.complemento.errors %} has-error {% endif %}" >
            <label for="form.complemento.id_for_label ">{{ form.complemento.label  }}</label>
            {% render_field form.complemento  class='form-control' %}
            {% for error in form.complemento.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group {% if form.uf.errors %} has-error {% endif %}" >
            <label for="form.uf.id_for_label ">{{ form.uf.label  }}</label>
            {% render_field form.uf  class='form-control' %}
            {% for error in form.uf.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

</div>

<div class="row">

    <div class="col-md-6">

        <div class="form-group {% if form.cidade.errors %} has-error {% endif %}" >
            <label for="form.cidade.id_for_label ">{{ form.cidade.label  }}</label>
            {% render_field form.cidade  class='form-control' %}
            {% for error in form.cidade.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>

    </div>


    <div class="col-md-6">
        <div class="form-group {% if form.bairro.errors %} has-error {% endif %}" >
            <label for="form.bairro.id_for_label ">{{ form.bairro.label  }}</label>
            {% render_field form.bairro  class='form-control' %}
            {% for error in form.bairro.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
    </div>



</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group {% if form.observacao.errors %} has-error {% endif %}" >
            <label for="form.observacao.id_for_label ">{{ form.observacao.label  }}</label>
            {% render_field form.observacao  class='form-control' rows="3"%}
            {% for error in form.observacao.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
</div>
