{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<div class="view hm-black-strong">

  <div class="text-center" style="margin-top:25em;">

      <li>
        <h1 class="h1-responsive">
          <b>FindJobs</b>
        </h1>
        <h2 class="wow fadeInDown" data-wow-delay="0.5s">
          Conectando você há oportunidades de trabalho
        </h2>
        <h3 class="wow fadeInDown" data-wow-delay="0.5s">

          <a href="{% url 'core:vagas_list' %}" role="button" class="btn btn-success">
              PARA CANDIDATOS
          </a>

          <a href="{% url  'accounts:login' %}" role="button"
             class="btn btn btn-primary">
              PARA EMPRESA
          </a>
        </h3>

      </li>

  </div>
</div>

{% endblock %}