{% extends 'core/base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="row">

    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    {% endfor %}

    <form action="{% url 'core:profile_save' request.user.id %}" method="post">
    {% csrf_token %}
        <div class="col-md-offset-3 col-md-6 ">
            <div class="form-group  {% if form.user.errors %} has-error {% endif %}">
                {{ form.user.label_tag }}
                <input type="email" value="{{ request.user.email }}" class="form-control"/>
                {% for error in form.user.errors %}
                <span class="help-block" > {{ error }}</span>
                {% endfor %}
            </div>

            <div class="form-group  {% if form.escolaridade.errors %} has-error {% endif %}">
                {{ form.escolaridade.label_tag }}
                {% render_field form.escolaridade class='form-control'%}
                {% for error in form.escolaridade.errors %}
                <span class="help-block" > {{ error }}</span>
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group  {% if form.salario.errors %} has-error {% endif %}">
                        {{ form.salario.label_tag }}
                        {% render_field form.salario class='form-control'%}
                        {% for error in form.salario.errors %}
                        <span class="help-block" > {{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group  {% if form.experiencia.errors %} has-error {% endif %}">
                        {{ form.experiencia.label_tag }}
                        {% render_field form.experiencia class='form-control'%}
                        {% for error in form.experiencia.errors %}
                        <span class="help-block" > {{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>


            <div class="row">
                <button class="btn btn-block btn-primary" type="submit">
                    Salvar
                </button>
            </div>
        </div>


    </form>
</div>
{% endblock %}
