{% extends 'core/base.html' %}
{% block content %}

<div class="row">
    <div class="messages text-center">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
        {% endfor %}
    </div>
</div>


<div class="form-group">
    <button type="button" class="btn btn-primary js-open-address-form"
            data-url="{% url 'accounts:address_save'%}">
        <i class="glyphicon glyphicon-plus"></i>
        Adcionar Endereço
    </button>
</div>

<div>
    <div class="row">
        <div class="">
            <table id="company-table" class="table table-striped table-hover table-condensed">
                <thead>
                <tr>
                    <th>ENDEREÇO DO CANDIDATO</th>
                    <th width="30" class="text-center">EDITAR</th>
                    <th width="30" class="text-center">DELETAR</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th class="address_unicode">{{ address|default_if_none:"(Nenhum endereço cadastrado)"}}</th>
                    <th  class="text-center upper" width="30">
                        <button class="btn btn-warning js-open-address-form"
                                title="Editar Endereço"
                                data-url="{% url 'accounts:address_update' %} ">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </button>
                    </th>
                    <th  class="text-center upper" width="30">
                        <button class="btn btn-danger js-open-address-form"
                                title="Deletar Endereço"
                                data-url="{% url 'accounts:address_delete' %}">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </th>
                </tr>
                </tbody>
            </table>

    </div>

    <div class="candidato">
        <form class="form_candidate" action="" method="post">
            {% csrf_token %}
            {% include 'jobauth/form_candidate.html' %}
        </form>

        <div class="col-md-offset-3 col-md-9">
            <div class="col-md-4">
                <button class="btn btn-block btn-primary js-send-form-candidate-save"
                        title="Salvar"
                        data-url="{% url 'accounts:candidate_save' %}">
                    <i class="glyphicon glyphicon-pencil"></i>
                    SALVAR
                </button>
            </div>

            <div class="col-md-4">
                <button class="btn btn-block btn-danger js-send-form-candidate-delete"
                        title="Deletar"
                        data-url="{% url 'accounts:candidate_delete'%}">
                    <i class="glyphicon glyphicon-trash"></i>
                    DELETAR
                </button>
            </div>
        </div>
    </div>
</div>
<div id="modal-endereco" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

        </div>
    </div>
</div>
{% endblock %}
