{% extends 'core/base.html' %}
{% load widget_tweaks %}
{% block content %}

<div id="loginbox" style=""
     class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

    <div class="panel panel-default" >

        <div class="panel-heading">
            <div class="panel-title">SignUp</div>
        </div>


        <div class="panel-body" >

            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group {% if field.errors %} has-error {% endif %}">
                    {{ field.label_tag }}
                    {% render_field field class="form-control" %}<br>

                    {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                    <div class="help-block">{{ error }}</div>
                {% endfor %}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-block btn-success">
                    Sign up
                </button>
            </form>
        </div><!-- panel body-->
    </div>
</div>


{% endblock %}



